.bot-card-wrapper {
  margin: 0 auto;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  display: flex;
  height: 90%;
}
.bot-card {
  box-sizing: border-box;
  /* font-size: 1.25rem; */
  /* line-height: 2rem; */
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 4rem 2rem;
  margin: 0 1rem;
  width: 19rem;
  height: 25rem;
  /* left: 107px; */
  /* top: 1316px; */
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 26px;
}

.card-svg {
  height: 100px;
  margin: 1.5rem;
}
.card-h2 {
  margin: 1rem;
  top: 0;
  float: top;
}